
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&family=Inter&family=Kenia&family=Poppins:ital,wght@1,200&family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
}
*,*::before,*::after{
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Kenia', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Edu TAS Beginner', cursive;
    color: white;
    
    /* margin-top: 20px; */
    
}
 
.header{
    
    color: white;
    background: rgb(121,225,50);
    background: linear-gradient(90deg, rgba(121,225,50,1) 0%, rgba(76,190,137,1) 58%);
    padding: 2em 0;
    
   
}
.container{
    max-width: 20vw;
    background-color: #313438;
    min-height: 100vh;
    margin: 0 auto;
    /* overflow-y: scroll; */
    zoom: 116%;
}

i{
    font-size: 1.5em;

}
.contact-name{
    font-size: 1.2em;
}

a{
    text-decoration: none;
    color: white;
}


.back-btn{
    font-size: 1.7em;
    padding-left: 1em;
}

.hero_info{
    display: flex;
    align-items: center;
    flex-flow: column;
}

.contact-info{
    padding: 2em 1.5em;
}

.info-line{
    width: 90%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding: 1em 2em;
    margin-top: 2em;
    border-radius: 81px;
    box-shadow:  24px 24px 41px #26282b,
             -24px -24px 41px #3c4045;
}
p{
    margin: 0;
    padding-left: 2em;
}

.linear-gradient
{
    background: linear-gradient(90deg, rgba(121,225,50,1) 0%, rgba(76,190,137,1) 58%);
    border-radius: 100px;
    padding: 0.5em
}

#location{
    padding: 0.5em 0.6em;
}

.edit-contact{
    padding: 1.5em 3.5em;
    text-align: center;
}